* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #eee;
  color: white;
  width: 375px;
  max-height: 667px;
}

.header {
  background-color: #8B9472;
  color: rgba(0, 0, 0, 0.75);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: 'Comic Neue', cursive;
  font-size: 2.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 25vh);
  gap: 5px;
  border-radius: 4px;
  grid-template-areas: 
  "item1 item2 item3"
  "item4 item5 item6"
  "item7 item8 item9"
  "item10 item11 item12";
}

.item1 {
  background-color: thistle;
  grid-area: item1;
}

.item2 {
  background-color: rgb(79, 134, 77);
  grid-area: item2;
}

.item3 {
  background-color: rgb(104, 20, 20);
  grid-area: item3;
}

.item4 {
  background-color: firebrick;
  grid-area: item4;
}

.item5 {
  background-color: violet;
  grid-area: item5;
}

.item6 {
  background-color: orange;
  grid-area: item6;
}

.item7 {
  background-color: rosybrown;
  grid-area: item7;
}

.item8 {
  background-color: rgb(240, 243, 49);
  grid-area: item8;
}

.item9 {
  background-color: rgb(255, 32, 255);
  grid-area: item9;
}

.item10 {
  background-color: rgb(41, 158, 194);
  grid-area: item10;
}

.item11 {
  background-color: rgb(28, 122, 33);
  grid-area: item11;
}

.item12 {
  background-color: rgb(206, 127, 9);
  grid-area: item12;
}
